<!DOCTYPE html>
<html lang="en">
<head>
  {{!-- META TAGS --}}
    <meta charset="UTF-8">
    <meta name="description" content="A simple library to take care of complex CSS animations." />
    <meta property="og:image" content="./assets/screenshot.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {{!-- TITLE --}}
    <title>artHub</title>
  {{!-- HEAD LINKS --}}
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- link for arthub font family -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display|Rubik">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.0/css/iziModal.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  {{!-- HANDLEBARS BODY FROM MAIN.HANDLEBARS --}}
    {{{ body }}}
  {{!-- Scripts --}}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.0/js/iziModal.min.js" type="text/javascript"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
      {{!-- TYPED.JS INFO --}}
       <script>

            $(document).on('click', '#drawShapes', function(event) {
                    event.preventDefault();
                    $( "#insertFunction" ).attr( "src", "public/drawShapes/drawindex.html" );
                    $( "#insertFunction" ).attr( "width", "760px" );
                    $( "#insertFunction" ).attr( "width", "760px" );
                });
            $(document).on('click', '#frequencyOsc', function(event) {
                    event.preventDefault();
                    $( "#insertFunction" ).attr( "src", "public/frequencyOscillation/oscillateFrequencyIndex.html" );
                });
            $(document).on('click', '#drawPath', function(event) {
                    event.preventDefault();
                    $( "#insertFunction" ).attr( "src", "public/drawPath/drawPath.html" );
                });
            $(document).on('click', '#particles', function(event) {
                    event.preventDefault();
                    $( "#insertFunction" ).attr( "src", "public/particleSystem/particleIndex.html" );
                });
            $(document).on('click', '#imageSave', function(event) {
                    var iframe = document.getElementsByTagName("iframe").insertFunction.contentWindow;
                    console.log(iframe)
                    var x = iframe.contentWindow;
                    var canvas = document.getElementById('#defaultCanvas0');
                    x.postMessage(canvas, document);
                    var dataURL = canvas.toDataURL();
                    console.log(image);
                });
            $(document).ready(function() {
                console.log('ready');
                setTimeout(function() {
                    $(".element0").typed({
                        strings: ["DRAW SOME SHIT"],
                        typeSpeed: 30, // typing speed
                        backDelay: 750, // pause before backspacing
                        loop: false, // loop on or off (true or false)
                        loopCount: false, // number of loops, false = infinite
                        callback: function() {} // call function after typing is done
                    });
                }, 0);

                setTimeout(function() {
                    $(".element1").css("display", "inherit");
                    $(".element1").typed({
                        strings: ["SING SOME SHIT"],
                        typeSpeed: 30, // typing speed
                        backDelay: 750, // pause before backspacing
                        loop: false, // loop on or off (true or false)
                        loopCount: false, // number of loops, false = infinite
                        callback: function() {} // call function after typing is done
                    });
                }, 2000);

                setTimeout(function() {
                    $(".element2").css("display", "inherit");
                    $(".element2").typed({
                        strings: ["MAKE YOUR OWN VIDEO"],
                        typeSpeed: 30, // typing speed
                        backDelay: 750, // pause before backspacing
                        loop: false, // loop on or off (true or false)
                        loopCount: false, // number of loops, false = infinite
                        callback: function() {} // call function after typing is done
                    });
                }, 4000);

                setTimeout(function() {
                    $(".element3").css("display", "inherit");
                    $(".element3").typed({
                        strings: ["SHARE IT WITH FRIENDS"],
                        typeSpeed: 30, // typing speed
                        backDelay: 750, // pause before backspacing
                        loop: false, // loop on or off (true or false)
                        loopCount: false, // number of loops, false = infinite
                        callback: function() {} // call function after typing is done
                    });
                }, 6000);


                $("#modal").iziModal();

                $(document).on('click', '#trigger', function (event) {
                    event.preventDefault();
                    $('#modal').iziModal('open');
                });

                $(document).on('click', '.close', function (event) {
                    event.preventDefault();
                    $('#modal').iziModal('close');
                });

                $(".modal").iziModal();

                $(document).on('click', '#logOut', function(event) {
                    event.preventDefault();
                    $('.modal').iziModal('open');
                });

                $(document).on('click', '.close', function(event) {
                    event.preventDefault();
                    $('.modal').iziModal('close');
                });
                $(document).on('click', '#drawShapes', function(event) {
                    event.preventDefault();
                    $( "#insertFunction" ).attr( "src", "public/drawShapes/drawindex.html" );
                })

                //------------OAuth---------------//
                //Function called for login/out button listener
                //  function toggleSignIn() {
                //   if (!firebase.auth().currentUser) {
                //     var provider = new firebase.auth.GoogleAuthProvider();
                //     provider.addScope('profile');
                //     firebase.auth().signInWithPopup(provider).then(function(result) {
                //       //Gives Google access token
                //       var token = result.credential.accessToken;
                //       var user = result.user;

                //     }).catch(function(error) {
                //       //REcords errors for clarity
                //       var errorCode = error.code;
                //       var errorMessage = error.message;
                //       var email = error.email;
                //       var credential = error.credential;
                //       if (errorCode === 'auth/account-exists-with-different-credential') {
                //         alert('You have already signed up with a different auth provider for that email.');

                //       } else {
                //         console.error(error);
                //       }

                //     });

                //   } else {
                //     // firebase.auth().signOut();
                //     firebase.auth().signOut().then(function() {
                //     console.log('Signed Out');
                // }, function(error) {
                //     console.error('Sign Out Error', error);
                // });

                //   }

                //   document.getElementById('trigger').disabled = true;

                // }
                // //Called on page/window load to add listener to UI
                // function initApp(database) {
                //   //Listens for state changes
                //   firebase.auth().onAuthStateChanged(function(user) {
                //     if (user) {

                //       window.user = user;

                //       document.getElementById('trigger').textContent = 'Sign out';

                //       getData(database);
                //     } else {
                //       window.user = null

                //       document.getElementById('trigger').textContent = 'Sign in with Google';
                //     }
                //     document.getElementById('trigger').disabled = false;
                //   });

                //   document.getElementById('trigger').addEventListener('click', toggleSignIn, false);
                // }

            });
        </script>
  </body>
</html>