<body>
    <header class="header">
        <a href="https://github.com/dolce/iziModal" id="tryUs">Try Us</a>
        <a href="https://github.com/dolce/iziModal" id="browseArt">Browse Art</a>
    </header>
        <div class="img">
            <img src="assets/images/trippy.gif" width="200" height="200">
        </div>
        <div id="wrapper">
            <div id="letters">
                <div class="a">a</div>
                <div class="r">r</div>
                <div class="t">t</div>
                <div class="H">H</div>
                <div class="u">u</div>
                <div class="b">b</div>
            </div>
            <div id="typedText">
                <div class="element0 nodisplay"></div>
                <div class="element1 nodisplay"></div>
                <div class="element2 nodisplay"></div>
                <div class="element3 nodisplay"></div>
            </div>
        </div>
    <div id="columns">
        {{#each users}}
                {{> art/art-thumbnail}}
        {{/each}}
      <figure>
      <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg" width="100px" height="100px">
      <figcaption>Rapunzel, clothed in 1820’s period fashion</figcaption>
      </figure>

{{!--       <figure>
      <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/belle.jpg">
      <figcaption>Belle, based on 1770’s French court fashion</figcaption>
      </figure>

      <figure>
      <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg">
      <figcaption>Mulan, based on the Ming Dynasty period</figcaption>
      </figure>

       <figure>
       <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sleeping-beauty.jpg">
      <figcaption>Sleeping Beauty, based on European fashions in 1485</figcaption>
      </figure> --}}
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header2">
                <div class="dropdown">
                    <button id="dropbtn" class="modal-title">Add Drawing</button>
                    <div class="dropdown-content">
                        <p><button id='drawShapes'>Draw Shapes</button></p>
                        <p><button id='frequencyOsc'>Frequency Oscillation</button></p>
                        <p><button id="drawPath">Draw Path</button></p>
                        <p><button id='particles'>Text</button></p>
                    </div>
                </div>
                <div class="dropdownVideo">
                    <button id="dropbtn" class="modal-title">Add Video</button>
                    <div class="dropdown-video">
                        <p><button>Record</button></p>
                        <p><button>Stop</button></p>
                    </div>
                </div>
                <div class="dropdownVoice">
                    <button id="dropbtn" class="modal-title">Add Voice</button>
                    <div class="dropdown-voice">
                        <p><button>Record</button></p>
                        <p><button>Stop</button></p>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>



            </div>
            <div class="modal-body">
                <img src="assets/images/art.jpg" width="100%" height="100%">
                <iframe id = 'insertFunction'></iframe>
            </div>
            <div class="modal-body">
                <iframe id = 'insertFunction'></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Reset</button>

                <form actions="/" method="POST">
                    <button type="submit" class="btn btn-secondary art-submit" data-dismiss="modal"> Save </button>
                </form>
            </div>
        </div>
        </div>

</body>

</html>