<body>
    <header class="header">
        <button id="tryUs" data-izimodal-open="#modal-iframe" data-izimodal-transitionin="bounceInDown">Make Art!</button>
        {{!-- <a href="https://github.com/dolce/iziModal" id="tryUs">Try Us</a> --}}
        <a href="https://github.com/dolce/iziModal" id="browseArt">Browse Art</a>
    </header>

    <div class="img">
        <img src="assets/images/trippy.gif" width="200" height="200">
    </div>

    <div id="letters">
        <div class="a">a</div>
        <div class="r">r</div>
        <div class="t">t</div>
        <div class="H">H</div>
        <div class="u">u</div>
        <div class="b">b</div>
    </div>

    <div id="typedText">
        <div class="element0 nodisplay"></div>
    </div>

    <div id="columns">
        {{#each userinfo}}
            {{> art/art-thumbnail}}
        {{/each}}
    </div>

    <div id="modal-iframe" aria-hidden="false" aria-labelledby="modal-iframe" role="dialog" class="canvas-modal iziModal" data-izimodal-group="grupo1" style="z-index: 999; border-radius: 3px; overflow: hidden; {{!-- max-width: 600px; --}} display: none; height: 800px;">
        <div id="iframe-header" class="iziModal-header iziModal-noSubtitle" style="padding-right: 70px;">
            <i class="iziModal-header-icon icon-settings_system_daydream"></i>
            <h2 class="iziModal-header-title">Choose a way to create!</h2>
            <p class="iziModal-header-subtitle"></p>
            <div class="iziModal-header-buttons">
                <a href="javascript:void(0)" class="iziModal-button iziModal-button-close" data-izimodal-close=""></a>
                <a href="javascript:void(0)" class="iziModal-button iziModal-button-fullscreen" data-izimodal-fullscreen=""></a>
            </div>
        </div>

        <div class="iziModal-wrap">
            <div class="dropdown">
                <button id="dropbtn" class="modal-title">Draw</button>
                <div class="dropdown-content">
                    <p><button class="func-btn" id='drawShapes'>Draw Shapes</button></p>
                    <p><button class="func-btn" id='frequencyOsc'>Freq. Oscillation</button></p>
                    <p><button class="func-btn" id='drawPath'>Draw Path</button></p>
                    <p><button class="func-btn" id='particles'>Particles</button></p>
                </div>
            </div>

            <div id="insertFuncFrame"class="iziModal-content" style="padding: 0px;">
                <iframe id="insertFunction" class="iziModal-iframe"></iframe>
            </div>

            <div class="modal-footer">
                <form>
                    <button type="submit" id = 'imageSave' class="btn btn-secondary art-submit" data-dismiss="modal"> Save </button>
                </form>
            </div>
        </div>

    </div>
</body>