.dropdown-menu {
    position: absolute;
}

/*#drawShapes {
  position: relative;
  text-align: center;
}*/

.dropdown-item {
  position: relative;
  text-align: center;
}


html {
    height: 100%;
    overflow: hidden;
    margin: 0 0;
}
body {
    height: 100%;
    /*overflow: auto;*/
    margin: 0 0;
    font-family: 'Rubik', sans-serif;
    background-color: #f5f5f5;
}

.modal-header,
h4,
.close {
    background-color: #087e8b;
    color: white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
.typed-cursor {
    display: none;
}
.google {
    width: 250px;
    height: 50px;
    background-color: #D84B37;
    /*padding-top: 15px;*/
    text-align: center;
    margin-left: 130px;
    color: #fff;
    font-family: Futura;
    font-size: 20px;
    /*text-align: center;*/
}
#loginWrapper {
    text-align: left;
}
.header {
  margin-top: 40px;
}

p {
    font-size: 13px;
    letter-spacing: 0.05em;
}
a {
    text-decoration: none;
}
.img {
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    /*position: fixed;*/
}
.element0.nodisplay {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: #087e8b;
}
.element1.nodisplay {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: #087e8b;
}
.element2.nodisplay {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: #087e8b;
}
.element3.nodisplay {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: #087e8b;
}
.element4.nodisplay {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: #087e8b;
}
.element5.nodisplay {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: #087e8b;
}
#typedText {
    text-align: center;
    margin-top: 200px;
}
#wrapper {
    height: 400vh;
    display: flex;
    justify-content: center;
}
#letters {
    position: fixed;
    text-align: center;
    top: 350px;
    width: 100%;
}
#letters div {
    display: inline-block;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    transition: color 0.1s ease-in-out;
}
#tryUs {
    font-size: 30px;
    color: #debe65;
    font-family: 'Rubik', sans-serif;
    margin-left: 40px;
}
#tryUs:hover {
    color: #000000;
    text-decoration: none;
}
.modal-body {
    text-align: center;
    /*border-style: solid;
    border-width: 0.2px;
    border-color: #000000;*/
}
/*.modal-title {
  display: inline;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  color: #263d42;
  font-family: 'Rubik', sans-serif;
}*/
/*.close {
  float: right;
  margin-right: 40px;
  font-size: 20px;

}*/

.btn.btn-primary {
    font-size: 20px;
    margin-top: 20px;
    border-style: none;
    float: left;
    color: #263d42;
    font-family: 'Rubik', sans-serif;
    background-color: #dddddd;
}
.btn.btn-secondary {
    font-size: 20px;
    margin-right: 30px;
    background-color: #dddddd;
    color: #263d42;
    font-family: 'Rubik', sans-serif;
}
.btn.btn-primary:hover {
    color: #fff;
    background-color: #000000;
}
.btn.btn-secondary:hover {
    color: #fff;
    background-color: #000000;
}
/*style for add drawing*/
#dropbtn {
  border-radius: 4px;

}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    margin-left: 50px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #000000;
}
.dropdown-content p {
    color: #000000 padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
}
/*.dropdown-content p:hover {
    background-color: #f1f1f1
}*/
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover #dropbtn {
    background-color: #c0c5ce;
    /*color: #fff;*/
}

#drawShapes {
  border-style: none;
  background-color: #fff;
}
#drawShapes:hover {
  color: #087e8b;
}

#frequencyOsc {
  border-style: none;
  background-color: #fff;
}

#frequencyOsc:hover {
  color: #087e8b;
}

#drawPath{
  border-style: none;
  background-color: #fff;
}

#drawPath:hover {
  color: #087e8b;
}
/*style for add video*/
#particles{
  border-style: none;
  background-color: #fff;
}

#particles:hover {
  color: #087e8b;
}

/*.dropdownVideo {
    position: relative;
    display: inline-block;
}
.dropdown-video {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 118px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #000000;
}
.dropdown-video p {
    color: #000000 padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
}*/
/*.dropdown-video p:hover {
    background-color: #f1f1f1
}*/
/*.dropdownVideo:hover .dropdown-video {
    display: block;
}
.dropdownVideo:hover #dropbtn {
    background-color: #c0c5ce;
    /*color: #fff;*/
}*/
/*style for add voice*/

.dropdownVoice {
    position: relative;
    display: inline-block;
}
.dropdown-voice {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 118px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #000000;
}
.dropdown-voice p {
    color: #000000 padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
}
/*.dropdown-voice p:hover {
    background-color: #f1f1f1
}*/
.dropdownVoice:hover .dropdown-voice {
    display: block;
}
.dropdownVoice:hover #dropbtn {
    background-color: #c0c5ce;
    /*color: #fff;*/
}
.modal-header2 {
    background-color: #087e8b;
    height: 80px;
}
.modal-title {
    margin-top: 25px;
    width: 118px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}
.close {
    margin: 20px;
}

#browseArt {
  float: right;
  font-size: 30px;
  color: #debe65;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  margin-right: 40px;
}

#browseArt:hover {
    color: #000000;
    text-decoration: none;
}

@font-face{font-family:'Calluna';
 src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}
body {
  background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
#columns {
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;

}

div#columns figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  /*margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;*/
  text-align: center;

}

div#columns figure img {
  width: 60%; height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
  opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}

.img{
    border-radius: 5px;
}

#insertFunction {
  width: 500px;
  height: 500px;
  border-style: solid;
  border-color: #828892;
}

/*@media (max-width:660px) {
  #letters div {
    font-size: 38px;
  }
}

@media (max-width:500px) {
  #letters { top: 180px; }

  #letters div { font-size: 20px; }
  #letters .line { display: none; }
  #letters .description { padding: 20px; }

  .links { height: calc(100vh - 300px); }

  .links .quickstart {
    padding: 10px;
    font-size: 12px;
  }

  .scroll-down { top: 300px; }
}*/